* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}

section {
    width: 80%;
    padding: 20px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 5px 5px 20px rgb(193, 215, 160);
    background-color: rgb(201, 202, 200);

    h1 {
        margin: 20px 0px;
    }

    .number__validator {
        height: 50%;

        form {

            input {
                padding: 8px 5px;
                border-radius: 4px;
                width: 90%;
            }

            button {
                padding: 5px;
                border-radius: 4px;
                margin-top: 5px;
            }
        }

        .telco__number {
            margin: 20px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .image {
                width: 35%;
                margin-right: 10px;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@media (min-width: 680px) {
    section {
        padding: 50px;

        .number__validator {

            form {

                input {
                    padding: 8px 5px;
                    border-radius: 4px;
                    width: 80%;
                }
    
                button {
                    padding: 8px;
                    border-radius: 4px;
                }
            }

            .telco__number {

                .image {
                    width: 15%;
                }
    
                p {
                    font-size: 2rem;
                }
            }
        }
    }
}